.game-start-btn {
  position: relative;
  left: 50%;
  width: 43%;
  margin-top: 10%;
  margin-bottom: -23%;
  padding-bottom: calc(43% / 640 * 182);
  background-size: 100% auto;
  background-repeat: no-repeat;
  transform: translateX(-50%);
  z-index: 1;
  &:hover {
    cursor: pointer;
  }
  .start-text {
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1.5px;
    font-weight: 600;
    font-family: 'PingFang SC', sans-serif;
    color: var(--game-start-btn-color);
    transform: translateY(-50%);
  }
}
