.envelope-drop {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 13;

  .envelopeDropCanvas {
    position: fixed;
    width: 100%;
    height: 100%;
  }
}
