.bg-game-mobile {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: 100% auto;
  background-repeat: no-repeat;

  /* 時鐘區塊 */
  .bg-game-clock {
    position: absolute;
    top: 15px;
    width: 60%;
    left: 50%;
    padding-bottom: calc(60% / 928 * 712);
    background-size: 100% auto;
    background-repeat: no-repeat;
    transform: translateX(-50%);
    @media (min-width: 480px) {
      width: 45%;
      padding-bottom: calc(45% / 928 * 712);
    }
    .time-count {
      position: absolute;
      width: 100%;
      top: 18%;
      text-align: center;
      font:
        600 1.145rem 'PingFang SC',
        sans-serif;
      background: var(--countdown-bar-text-1);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @media (min-width: 480px) {
        top: 20%;
      }
      .time {
        font-size: 1.875rem;
      }
    }
    .score {
      position: absolute;
      font:
        600 1.875rem 'PingFang SC',
        sans-serif;
      width: 100%;
      bottom: 15%;
      text-align: center;
      background: var(--countdown-bar-text-1);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @media (min-width: 480px) {
        bottom: 17%;
      }
    }

    /* 血條總成 */
    .game-countdown-bar-container {
      position: absolute;
      width: 150%;
      top: 42%;
      left: 50%;
      padding-bottom: calc(150% / 2000 * 180);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      transform: translateX(-50%);
      border-radius: 20px;
      overflow: hidden;

      .game-countdown-bar-blood {
        position: absolute;
        height: 100%;
        right: 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        transition: width 1s linear;
      }
      .game-countdown-bar-cover {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
    }
  }

  /* 遊戲開始倒數 */
  .ready-start-game {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 30%;
    font:
      600 9rem 'PingFang SC',
      sans-serif;
    background: var(--countdown-bar-text-1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    .here-we-go {
      font-size: 4rem;
    }
  }

  /* 底部雲 */
  .bg-game-footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    padding-bottom: calc(100% / 1500 * 560);
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
}
