.scroll-container {
  position: relative;
  width: 100%;
  margin-top: 2.5%;
  margin-bottom: -27%;

  // scroll-top
  .scroll-top {
    position: relative;
    width: 77%;
    left: 50%;
    padding-bottom: calc(77% / 1168 * 352);
    background-size: 100% auto;
    background-repeat: no-repeat;
    transform: translateX(-50%);
    color: #ffffff;
    margin-bottom: -11.5%;
    .expend-text {
      position: absolute;
      top: 11%;
      left: 18.5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .expend-ch {
        font-family: 'PingFang SC', sans-serif;
        font-weight: 500;
        @media (min-width: 375px) {
          font-size: 10px;
        }
        @media (min-width: 480px) {
          font-size: 11px;
        }
        @media (min-width: 576px) {
          font-size: 12px;
        }
      }
      .expend-money {
        margin-top: 3%;
        font-family: 'PingFang SC', sans-serif;
        font-weight: 500;
        @media (min-width: 375px) {
          font-size: 14px;
        }
        @media (min-width: 480px) {
          font-size: 15px;
        }
        @media (min-width: 576px) {
          font-size: 16px;
          margin-top: 5%;
        }
      }
    }
    .frequency-text {
      position: absolute;
      top: 11%;
      right: 17.5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .remain-ch {
        font-family: 'PingFang SC', sans-serif;
        font-weight: 500;
        @media (min-width: 375px) {
          font-size: 10px;
        }
        @media (min-width: 480px) {
          font-size: 11px;
        }
        @media (min-width: 576px) {
          font-size: 12px;
        }
      }
      .remain-counter {
        margin-top: -3%;

        font-family: 'PingFang SC', sans-serif;
        font-weight: 600;
        @media (min-width: 375px) {
          font-size: 20px;
        }
        @media (min-width: 480px) {
          font-size: 21px;
        }
        @media (min-width: 576px) {
          font-size: 22px;
          margin-top: 1%;
        }
        span {
          font-weight: 200;
          @media (min-width: 375px) {
            font-size: 10px;
          }
          @media (min-width: 480px) {
            font-size: 11px;
          }
          @media (min-width: 576px) {
            font-size: 12px;
          }
        }
      }
    }
  }

  // scroll-paper
  .scroll-paper {
    position: relative;
    top: 0%;
    left: 50%;
    width: 74%;

    padding-bottom: calc(74% / 1112 * 1696);
    background-size: 100% auto;
    background-repeat: no-repeat;
    transform: translateX(-50%);

    .refresh-ranking-title {
      position: absolute;
      top: 4.3%;
      left: 50%;
      width: 73%;
      padding-bottom: calc(73% / 800 * 108);
      background-size: 100% auto;
      background-repeat: no-repeat;
      transform: translateX(-50%);
    }
    .rank-1,
    .rank-2,
    .rank-3 {
      position: absolute;
      left: 50%;
      width: 72%;
      padding-bottom: calc(72% / 800 * 136);
      background-size: 100% auto;
      background-repeat: no-repeat;
      transform: translateX(-50%);
      .user-info-container {
        position: absolute;
        left: 24%;
        top: 14%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        .user-info {
          font-weight: 500;
          font-family: 'PingFang SC', sans-serif;
          color: var(--user-info-color);
          @media (min-width: 375px) {
            font-size: 7px;
          }
          @media (min-width: 480px) {
            font-size: 8px;
          }
          @media (min-width: 576px) {
            font-size: 9px;
          }
        }
        .user-info-id {
          font-size: 12px;
          font-weight: 900;
          font-family: 'Arial Black', sans-serif;
          color: var(--user-info-color);
          @media (min-width: 375px) {
            font-size: 12px;
          }
          @media (min-width: 480px) {
            font-size: 13px;
          }
          @media (min-width: 576px) {
            font-size: 14px;
          }
        }
      }
      .score-container {
        position: absolute;
        width: 63px;
        height: 20px;
        display: flex;
        right: 6%;
        top: 25%;
        line-height: 16.92px;
        color: var(--user-score-color);
        @media (min-width: 480px) {
          right: 10%;
          margin-top: 1%;
        }
        @media (min-width: 576px) {
          right: 12%;
          margin-top: 1.5%;
        }

        .score-text {
          margin-left: 13%;
          font-weight: 400;
          font-family: 'PingFang SC', sans-serif;
          @media (min-width: 375px) {
            font-size: 8px;
          }
          @media (min-width: 480px) {
            font-size: 9px;
          }
          @media (min-width: 576px) {
            font-size: 10px;
          }
        }
        .score {
          margin-left: 8%;
          font-weight: 900;
          font-family: 'Arial Black', sans-serif;
          @media (min-width: 375px) {
            font-size: 12px;
          }
          @media (min-width: 480px) {
            font-size: 13px;
          }
          @media (min-width: 576px) {
            font-size: 14px;
          }
        }
      }
    }
    .rank-1 {
      top: 11.5%;
    }
    .rank-2 {
      top: 20.5%;
    }
    .rank-3 {
      top: 29.5%;
    }
    .award-title {
      position: absolute;
      left: 50%;
      top: 38%;
      width: 73%;
      padding-bottom: calc(73% / 800 * 108);
      background-size: 100% auto;
      size: 100% auto;
      background-repeat: no-repeat;
      transform: translateX(-50%);
    }
    .award {
      position: absolute;
      left: 50%;
      bottom: 18%;
      width: 87%;
      padding-bottom: calc(87% / 960 * 624);
      background-size: 100% auto;
      background-repeat: no-repeat;
      transform: translateX(-50%);
    }
  }
}
